#entry {
border-radius: 5px;
padding: 3px;
margin: 0px 3px 3px 3px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

#entry:selected {
background-color:#4b3766;
font-weight: bold;
}
 
#text:selected {
color: #d8dee9;
}
 
#window {
background-color: transparent;
font-family: Ubuntu Mono;
}

#input {
border: none;
background-color: #4c566a;
padding: 10px;
margin: 15px 15px 10px 15px;
border-radius: 5px;
}

#inner-box {
color: #4b3766;
padding-top: 5px;
margin: 0px 10px 10px 10px;
}

#outer-box {
margin: 15px;
background-color: rgba(53,59,73,1.0);
box-shadow: 0px 0px 5px 0  #0F0F0F;
}

#scroll {
margin-bottom: 10px;
}

#text {
padding: 5px;
color: #d8dee9;
background-color: transparent;
} 

#img {
  background-color: transparent;
  padding: 5px;
}
