/*
*
* Base16 Nord
* Author: arcticicestudio
*
*/

@define-color base10 #353B49;
@define-color base00 #2e3440;
@define-color base01 #3b4252;
@define-color base02 #434c5e;
@define-color base03 #4c566a;
@define-color base04 #d8dee9;
@define-color base05 #e5e9f0;
@define-color base06 #eceff4;
@define-color base07 #a4c3b9;
@define-color base08 #7ca4b4;
@define-color base09 #67788b;
@define-color base0A #78a7c5;
@define-color base0B #bf616a;
@define-color base0B-light #c57078;
@define-color base0C #d08770;
@define-color base0D #ebcb8b;
@define-color base0E #c1dbae;
@define-color base0F #b48ead;
