/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */
 
/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */
 
@keyframes blink-warning {
    70% {
        color: white;
    }
 
    to {
        color: white;
        background-color: orange;
    }
}
 
@keyframes blink-critical {
    70% {
      color: white;
    }
 
    to {
        color: white;
        background-color: red;
    }
}
 
 
/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */
 
/* Reset all styles */
* {
    border: none;  
    border-radius: 0;
    margin-top: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
     padding-left: 10;
     padding-right: 10;  
}
 
/* The whole bar */
#waybar {
    background: black;
    color: white;
    font-family: UbuntuMono;
    font-size: 14px;
}
 
 
/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */
 
#battery {
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}
 
#battery.warning {
        color: orange;
}
 
#battery.critical {
        color: red;
}
 
#battery.warning.discharging {
        animation-name: blink-warning;
        animation-duration: 3s;
}
 
#battery.critical.discharging {
        animation-name: blink-critical;
        animation-duration: 2s;
}
 
#cpu.warning {
        color: orange;
}
 
#cpu.critical {
        color: red;
}
 
#memory {
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-direction: alternate;
}
 
#memory.warning {
        color: orange;
 }
 
#memory.critical {
    color: red;
        animation-name: blink-critical;
        animation-duration: 2s;
}
 
#mode {
    background: red;
    border-bottom: 3px transparent;
    margin: 3;
  }
 
#network.disconnected {
        color: orange;
}
 
#pulseaudio.muted {
    color: @base07; 
}
 
#temperature.critical {
        color: red;
}
 
#window {
        font-weight: bold;
}
 
#workspaces button {
    padding: 0.5px;
    border-bottom: 3px solid transparent;
}

#workspaces button.focused {
   border-bottom: 3px solid #ffffff;
}

#workspaces button.urgent {
        border-color: #c9545d;
        color: #c9545d;
}
 
#custom-firefox {
    color: #d08770;
}
#custom-files {
    color: #ebcb8b;
}
 
#custom-power {
    font-size: 15px;
    margin-right:1px;
    padding:0;
}
 
#custom-launcher {
    font-size: 20px;
    padding:0;
 }

  
