/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@define-color highlight #5294e2 ;
@define-color base1  #19191e ;

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 1px;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: transparent;
    color: #e3e3ea;
    background-color: @base1;
    font-family: JetBrainsMono;
    font-size: 13px;
}

/* Every modules */
#mode,
#network,
#idle_inhibitor,
#memory,
#cpu,
#pulseaudio,
#custom-keyboard-layout,
#battery,
#backlight,
#clock,
#temperature,
#custom-weather,
#tray {
    padding:0.5rem 0.6rem;
    margin: 1px 0px;
}

/* -----------------------------------------------------------------------------
 * Modules styles
 * -------------------------------------------------------------------------- */

#custom-launcher {
    font-size:15px;
    margin-left:15px;
    margin-right:10px;
}

#workspaces {
    font-size:13px;
}

#workspaces button {
    border-bottom: 3px solid transparent;
    margin-bottom: 0px;
    padding:0px;
}

#workspaces button.focused {
    border-bottom: 3px solid  @highlight;
    margin-bottom: 1px;
    padding-left:0;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
}

#mode {
    background: @highlight;
    border-bottom: 3px transparent;
    color:white;
    margin-left: 5px;
    padding: 7px;
}

#window {
    font-weight: bold;
}

#network.disconnected {
    color: orange;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
 }

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
    padding-left:5px;
    padding-right:5px;
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#pulseaudio {
    padding-top:6px;
}

#pulseaudio.muted {
    color: @highlight;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#backlight.icon {
    padding-right:1px;
    font-size: 13px;
}

#temperature.critical {
    color: red;
}

#custom-power {
    margin-left:15px;
    margin-right:15px;
    font-size:15px;
}
