/*
Arc-Dark Color Scheme
*/

@define-color highlight #5294e2;
@define-color base1  #404552;
@define-color base2  #40455;
@define-color base3  #4b5160;


*{
    font-family: UbuntuMono;
}

#window {
	border: 1px solid @highlight;

}

#inner-box {
    background-color: @base2;

}

#outer-box {
    	margin: 5px;
    	padding:15px;
    	background-color: @base2;
	margin-top: -20px;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry:nth-child(even){
    background-color: @base1;
}

#entry {
    background-color: @base3;
}

#entry:selected {
    background-color: @highlight;
}

#text:selected {
}
