/*
Arc-Dark Color Scheme
*/

@define-color highlight #5294e2;
@define-color base1  #404552;
@define-color base2 #40455;


*{
    font-family: UbuntuMono;
}

window {
}

#input {
    margin-bottom: 10px;
    border-radius: 3px;
    border:none;
    color: white;
}

#inner-box {
    background-color: @base2;

}

#outer-box {
    margin: 3px;
    padding:15px;
    background-color: @base2;
}

#scroll {
}

#text {
padding: 5px;
color: white;
}

#entry:nth-child(even){
    background-color: @base1;
}

#entry:selected {
    background-color: @highlight;
}

#text:selected {
}
